html {
  box-sizing: border-box;
  color: #212529; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #f8f9fa; }

hr {
  border: 0;
  height: 1px;
  background: #868e96; }

h1,
h2,
h3,
h4 {
  font-family: Georgia, serif; }

a {
  color: #20c997; }

a:visited {
  color: #076448; }

a:hover {
  color: #076448; }

label {
  color: inherit;
  display: block;
  margin: 0 0 0.5rem; }

.container {
  display: grid;
  height: 100vh;
  grid-template-areas: "nav" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1em; }

.nav-container {
  grid-area: nav; }

.content {
  grid-area: main; }

.site-footer {
  grid-area: footer; }

button,
input[type="submit"],
.button {
  display: inline-block;
  color: #212529;
  font-size: 1em;
  padding: 0.4em 1em;
  border-radius: 0.2em;
  text-decoration: none;
  font-family: inherit;
  color: #fff;
  background-color: #076448;
  border: 2px solid #076448; }
  button:hover,
  input[type="submit"]:hover,
  .button:hover {
    background-color: #0ec38d;
    color: #fff; }
  button:active,
  input[type="submit"]:active,
  .button:active {
    background-color: #0ec38d; }
  button.button-star,
  input[type="submit"].button-star,
  .button.button-star {
    font-family: inherit;
    color: #fff;
    background-color: blue;
    border: 2px solid blue; }
    button.button-star:hover,
    input[type="submit"].button-star:hover,
    .button.button-star:hover {
      background-color: #6666ff;
      color: #fff; }
    button.button-star:active,
    input[type="submit"].button-star:active,
    .button.button-star:active {
      background-color: #6666ff; }
  button.button-delete,
  input[type="submit"].button-delete,
  .button.button-delete {
    font-family: inherit;
    color: #fff;
    background-color: #de6b48;
    border: 2px solid #de6b48; }
    button.button-delete:hover,
    input[type="submit"].button-delete:hover,
    .button.button-delete:hover {
      background-color: #eeb19e;
      color: #fff; }
    button.button-delete:active,
    input[type="submit"].button-delete:active,
    .button.button-delete:active {
      background-color: #eeb19e; }
  button.button-signout,
  input[type="submit"].button-signout,
  .button.button-signout {
    color: #fff;
    background-color: #20c997;
    padding: 0.45em 1.05em;
    border: 0; }
  button.button--cta,
  input[type="submit"].button--cta,
  .button.button--cta {
    background-color: #20c997;
    padding: 0.6em 1em;
    color: #fff;
    border: none; }
  button.button-sign,
  input[type="submit"].button-sign,
  .button.button-sign {
    display: inline-block;
    background-color: #009639;
    border: 0;
    color: #fff;
    font-size: 1.125em;
    font-weight: 400;
    margin-top: auto;
    padding: 0.6em 1em;
    text-align: center;
    transition: all 250ms ease-in; }

.nav-container {
  background-color: #fff; }
  .nav-container .nav-container__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0.625em 0; }
    .nav-container .nav-container__inner .home-link {
      color: #212529;
      font-size: 1.6rem;
      font-family: Georgia, serif;
      font-weight: bold;
      text-decoration: none; }
    .nav-container .nav-container__inner .top-nav {
      display: flex;
      list-style-type: none;
      margin: 0; }
      .nav-container .nav-container__inner .top-nav a {
        display: block;
        padding: 0.3em 1.25em;
        color: #fff;
        background-color: #076448;
        text-decoration: none;
        border-radius: 3px; }
      .nav-container .nav-container__inner .top-nav a:hover {
        background-color: #099268; }
      .nav-container .nav-container__inner .top-nav .top-nav__featured a {
        background-color: #20c997;
        color: #fff; }
      .nav-container .nav-container__inner .top-nav .top-nav__featured a:hover {
        color: #20c997;
        background-color: #fff; }
    .nav-container .nav-container__inner .top-nav > li + li {
      margin-left: 0.625em; }

.hero {
  background: url("../src/img/wine4.jpg");
  background-size: cover;
  margin-bottom: 2.5em; }
  .hero h2 {
    font-size: 1.95rem; }
  .hero .hero__inner {
    max-width: 1080px;
    margin: 0 auto;
    padding: 50px 0 200px;
    text-align: right; }

.home-container {
  margin: 0 auto;
  max-width: 1080px; }
  .home-container .tile-row {
    display: flex; }
    .home-container .tile-row .tile {
      background-color: #fff;
      border-radius: 0.3em; }
      .home-container .tile-row .tile .button {
        background-color: #fff; }
    .home-container .tile-row .tile-row > * {
      flex: 1; }

::-webkit-input-placeholder {
  color: #009639; }

::-moz-placeholder {
  color: #009639; }

.text-input {
  border: 2px solid #bbb;
  display: block;
  font-family: inherit;
  font-weight: 300;
  padding: 1rem;
  width: 50%; }

.text-input:focus {
  border-color: #999; }

.about-page {
  font-family: inherit; }
  .about-page .about-page-content {
    text-align: center; }
  .about-page .about-page-hero {
    background: url("../src/img/wine1.jpg");
    background-size: cover;
    margin-top: 2.5rem; }
    .about-page .about-page-hero .about-page-hero__inner {
      max-width: 1080px;
      margin: 0 auto;
      padding: 50px 0 200px; }

.site-footer__inner {
  border-radius: 5px;
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.19);
  display: flex;
  flex-wrap: wrap;
  padding: 1em; }
  .site-footer__inner .site-footer-section {
    align-items: center;
    display: flex; }
    .site-footer__inner .site-footer-section a {
      text-decoration: none; }
    .site-footer__inner .site-footer-section .site-footer-item {
      padding: 0.875rem 1.5rem; }
    .site-footer__inner .site-footer-section .site-footer-social-media {
      padding: 0.2rem 0.5rem; }

.user-profile {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  max-width: 35rem;
  padding: 2rem;
  transition: all 1s;
  width: 100%;
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2em;
  grid-template-areas: "avatar" "name" "bio"; }
  .user-profile p {
    margin: 0; }
  .user-profile a {
    text-align: center;
    font-weight: bold;
    font-family: inherit; }
  .user-profile img {
    max-width: 100%; }
  .user-profile .user-profile__username {
    grid-area: name;
    color: #848383;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .user-profile .user-profile__username p > span {
      color: #ff0168;
      font-weight: bold; }
  .user-profile .user-profile__avatar {
    display: flex;
    grid-area: avatar;
    justify-content: center; }
    .user-profile .user-profile__avatar img {
      border-radius: 100%; }
  .user-profile .user-profile__bio {
    border-top: 1px solid #ff0168;
    padding-top: 2rem;
    grid-area: bio; }
  .user-profile .button {
    background-color: #fff;
    margin: 0; }

@media (min-width: 700px) {
  .user-profile {
    grid-template-areas: "avatar name" "bio bio"; }

  p {
    margin: 0; } }
input[type="file"] {
  margin: 1em 0;
  padding: 1em 0; }

.Reviews .button {
  color: #fff; }
.Reviews .Reviews--Meta {
  display: grid;
  grid-template-columns: 1fr; }

.review-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background-color: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0; }
  .review-container a {
    color: inherit; }
    .review-container a:hover {
      color: #5ad67d; }
  .review-container:hover .photo {
    transform: scale(1.3) rotate(3deg); }
  .review-container .meta {
    position: relative;
    z-index: 0;
    height: 200px; }
  .review-container .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: 0.2s; }
  .review-container .details,
  .review-container .details ul {
    margin: auto;
    padding: 0;
    list-style-type: none; }
  .review-container .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem; }
    .review-container .details a {
      text-decoration: dotted underline; }
    .review-container .details ul li {
      display: inline-block; }
    .review-container .details .author:before {
      font-family: FontAwesome;
      margin-right: 10px; }
    .review-container .details .date:before {
      font-family: FontAwesome;
      margin-right: 10px; }
    .review-container .details .tags ul:before {
      font-family: FontAwesome;
      margin-right: 10px; }
    .review-container .details .tags li {
      margin-right: 2px; }
      .review-container .details .tags li:first-child {
        margin-left: -4px; }
  .review-container .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1; }
    .review-container .description h1,
    .review-container .description h2 {
      font-family: inherit; }
    .review-container .description h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem; }
    .review-container .description h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #a2a2a2;
      margin-top: 5px; }
    .review-container .description .read-more {
      text-align: center; }
      .review-container .description .read-more a {
        color: #5ad67d;
        display: inline-block;
        position: relative; }
    .review-container .description p {
      position: relative;
      margin: 1rem 0 0; }
      .review-container .description p:first-of-type {
        margin-top: 1.25rem; }
        .review-container .description p:first-of-type:before {
          content: "";
          position: absolute;
          height: 5px;
          background: #5ad67d;
          width: 35px;
          top: -0.75rem;
          border-radius: 3px; }
  .review-container:hover .details {
    left: 0; }
  @media (min-width: 640px) {
    .review-container {
      flex-direction: row;
      max-width: 700px; }
      .review-container .meta {
        flex-basis: 40%;
        height: auto; }
      .review-container .description {
        flex-basis: 60%; }
        .review-container .description:before {
          transform: skewX(-3deg);
          content: "";
          background: #fff;
          width: 30px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: -1; } }

textarea {
  width: 50%;
  height: 30vh;
  display: block;
  padding: 1em;
  border: 2px solid #bbb;
  font-family: inherit;
  font-weight: 300; }

.star-rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 20%; }

.star {
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  background-color: #868e96;
  -webkit-clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);
  clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%); }

.star.selected {
  background-color: yellow; }

.ReviewContent {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background-color: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0; }
  .ReviewContent a {
    color: inherit; }
    .ReviewContent a:hover {
      color: #5ad67d; }
  .ReviewContent:hover .photo {
    transform: scale(1.3) rotate(3deg); }
  .ReviewContent .meta {
    position: relative;
    z-index: 0;
    height: 200px; }
  .ReviewContent .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: 0.2s; }
  .ReviewContent .details,
  .ReviewContent .details ul {
    margin: auto;
    padding: 0;
    list-style-type: none; }
  .ReviewContent .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem; }
    .ReviewContent .details a {
      text-decoration: dotted underline; }
    .ReviewContent .details ul li {
      display: inline-block; }
    .ReviewContent .details .author:before {
      font-family: FontAwesome;
      margin-right: 10px; }
    .ReviewContent .details .date:before {
      font-family: FontAwesome;
      margin-right: 10px; }
    .ReviewContent .details .tags ul:before {
      font-family: FontAwesome;
      margin-right: 10px; }
    .ReviewContent .details .tags li {
      margin-right: 2px; }
      .ReviewContent .details .tags li:first-child {
        margin-left: -4px; }
  .ReviewContent .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1; }
    .ReviewContent .description h1,
    .ReviewContent .description h2 {
      font-family: inherit; }
    .ReviewContent .description h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem; }
    .ReviewContent .description h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #a2a2a2;
      margin-top: 5px; }
    .ReviewContent .description .content {
      position: relative;
      margin: 1rem 0 0; }
      .ReviewContent .description .content:first-of-type {
        margin-top: 1.25rem; }
        .ReviewContent .description .content:first-of-type:before {
          content: "";
          position: absolute;
          height: 5px;
          background: #5ad67d;
          width: 35px;
          top: -0.75rem;
          border-radius: 3px; }
    .ReviewContent .description .ReviewContent--meta-bottom {
      padding: 0.5em;
      background-color: #daedbd;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .ReviewContent .description .ReviewContent--meta-bottom p {
        display: inline-block;
        margin: 1em; }
      .ReviewContent .description .ReviewContent--meta-bottom button {
        display: inline-block;
        width: auto; }
        .ReviewContent .description .ReviewContent--meta-bottom button:not(:last-child) {
          margin-right: 5px;
          margin-bottom: 0; }
  .ReviewContent:hover .details {
    left: 0; }
  @media (min-width: 640px) {
    .ReviewContent {
      flex-direction: row;
      max-width: 700px; }
      .ReviewContent .meta {
        flex-basis: 40%;
        height: auto; }
      .ReviewContent .description {
        flex-basis: 60%; }
        .ReviewContent .description:before {
          transform: skewX(-3deg);
          content: "";
          background: #fff;
          width: 30px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: -1; } }

.rating {
  display: flex; }

.Comments {
  width: 55%;
  margin: 0 auto; }

.Comment {
  margin: 1em 0; }

.Comment--author {
  color: #de6b48;
  font-weight: bold; }
  .Comment--author:after {
    content: ": "; }

.Comment--timestamp {
  color: #7cae30; }
  .Comment--timestamp:before {
    content: " "; }

.button-star {
  background-color: yellow; }

.button-delete {
  background-color: #de6b48;
  border: 0; }

.AddComment {
  font-family: inherit; }
  .AddComment input[type="text"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #009639;
    font-size: 1.5em;
    padding: 0.5em; }
  .AddComment input[type="submit"] {
    display: block;
    width: 50%;
    font-size: 1.1em;
    padding: 0.5em; }

/*# sourceMappingURL=index.css.map */
