$primary-color: #f5f5f5;
$brand-green: #076448;
$dark-green: #099268;
$medium-green: #20c997;
$text-color: #212529;
$gray: #868e96;
$light-gray: #f1f3f5;
$extra-light-gray: #f8f9fa;
$white: #fff;
$input-color: #009639;
$review: #7dbbc3;
$info-color: #daedbd;
$comment-highlight-color: #de6b48;
$danger-color: #de6b48;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

@mixin button($color) {
  font-family: inherit;
  color: $white;
  background-color: $color;
  border: 2px solid $color;

  &:hover {
    background-color: lighten($color, 20);
    color: $white;
  }
  &:active {
    background-color: lighten($color, 20);
  }
}

html {
  box-sizing: border-box;
  color: $text-color;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: $extra-light-gray;
}

hr {
  border: 0;
  height: 1px;
  background: $gray;
}

h1,
h2,
h3,
h4 {
  font-family: Georgia, serif;
}

a {
  color: $medium-green;
}
a:visited {
  color: $brand-green;
}
a:hover {
  color: $brand-green;
}
a:active {
}

label {
  color: inherit;
  display: block;
  margin: 0 0 0.5rem;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1em;
}

.nav-container {
  grid-area: nav;
}

.content {
  grid-area: main;
}

.site-footer {
  //background: $gray;
  grid-area: footer;
}

// Buttons

button,
input[type="submit"],
.button {
  display: inline-block;
  color: $text-color;
  font-size: 1em;
  padding: 0.4em 1em;
  border-radius: 0.2em;
  text-decoration: none;
  @include button($brand-green);
  &.button-star {
    @include button(blue);
  }
  &.button-delete {
    @include button($danger-color);
  }
  &.button-signout {
    color: $white;
    background-color: $medium-green;
    padding: 0.45em 1.05em;
    border: 0;
  }
  &.button--cta {
    background-color: $medium-green;
    padding: 0.6em 1em;
    color: $white;
    border: none;
  }
  &.button-sign {
    display: inline-block;
    background-color: $input-color;
    border: 0;
    color: $white;
    font-size: 1.125em;
    font-weight: 400;
    margin-top: auto;
    padding: 0.6em 1em;
    text-align: center;
    transition: all 250ms ease-in;
  }
}

// Navbar Styling

.nav-container {
  background-color: $white;
  .nav-container__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0.625em 0;
    .home-link {
      color: #212529;
      font-size: 1.6rem;
      font-family: Georgia, serif;
      font-weight: bold;
      text-decoration: none;
    }
    .top-nav {
      display: flex;
      list-style-type: none;
      margin: 0;
      a {
        display: block;
        padding: 0.3em 1.25em;
        color: #fff;
        background-color: #076448;
        text-decoration: none;
        border-radius: 3px;
      }
      a:hover {
        background-color: #099268;
      }
      .top-nav__featured a {
        background-color: $medium-green;
        color: $white;
      }
      .top-nav__featured a:hover {
        color: #20c997;
        background-color: $white;
      }
    }
    .top-nav > li + li {
      margin-left: 0.625em;
    }
  }
}

// Home page Styling

.hero {
  background: url("../src/img/wine4.jpg");
  background-size: cover;
  margin-bottom: 2.5em;
  h2 {
    font-size: 1.95rem;
  }
  .hero__inner {
    max-width: 1080px;
    margin: 0 auto;
    padding: 50px 0 200px;
    text-align: right;
  }
}

.home-container {
  margin: 0 auto;
  max-width: 1080px;
  .tile-row {
    display: flex;
    .tile {
      background-color: #fff;
      border-radius: 0.3em;
      .button {
        background-color: $white;
      }
    }
    .tile-row > * {
      flex: 1;
    }
  }
}

// Form styling fo Signin & Signup
.signin-signup {
}

::-webkit-input-placeholder {
  color: $input-color;
}

::-moz-placeholder {
  color: $input-color;
}

.text-input {
  border: 2px solid #bbb;
  display: block;
  font-family: inherit;
  font-weight: 300;
  padding: 1rem;
  width: 50%;
}
.text-input:focus {
  border-color: #999;
}

// About Page Styling

.about-page {
  font-family: inherit;
  .about-page-content {
    text-align: center;
  }
  .about-page-hero {
    background: url("../src/img/wine1.jpg");
    background-size: cover;
    margin-top: 2.5rem;
    .about-page-hero__inner {
      max-width: 1080px;
      margin: 0 auto;
      padding: 50px 0 200px;
    }
  }
}

// Footer Styling

.site-footer__inner {
  border-radius: 5px;
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.19);
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  .site-footer-section {
    align-items: center;
    display: flex;
    a {
      text-decoration: none;
    }
    .site-footer-item {
      padding: 0.875rem 1.5rem;
    }
    .site-footer-social-media {
      padding: 0.2rem 0.5rem;
    }
  }
}

// Account Page styling

.user-profile {
  background-color: $white;
  border-radius: 5px;
  box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  max-width: 35rem;
  padding: 2rem;
  transition: all 1s;
  width: 100%;

  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2em;
  grid-template-areas:
    "avatar"
    "name"
    "bio";

  p {
    margin: 0;
  }
  a {
    text-align: center;
    font-weight: bold;
    font-family: inherit;
  }
  img {
    max-width: 100%;
  }

  .user-profile__username {
    grid-area: name;
    color: #848383;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    p > span {
      color: #ff0168;
      font-weight: bold;
    }
  }

  .user-profile__avatar {
    display: flex;
    grid-area: avatar;
    justify-content: center;

    img {
      border-radius: 100%;
    }
  }

  .user-profile__bio {
    border-top: 1px solid #ff0168;
    padding-top: 2rem;
    grid-area: bio;
  }

  .button {
    background-color: $white;
    margin: 0;
  }
}

@media (min-width: 700px) {
  .user-profile {
    grid-template-areas:
      "avatar name"
      "bio bio";
  }

  p {
    margin: 0;
  }
}

input[type="file"] {
  margin: 1em 0;
  padding: 1em 0;
}

// Reviews

.Reviews {
  .button {
    color: $white;
  }
  .Reviews--Meta {
    display: grid;
    grid-template-columns: 1fr;
  }
}

// ReviewPage
.ReviewPage {
}

// Review
.review-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
  margin-bottom: 1.6%;
  background-color: $white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  a {
    color: inherit;
    &:hover {
      color: $color_prime;
    }
  }
  &:hover {
    .photo {
      transform: scale(1.3) rotate(3deg);
    }
  }
  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: 0.2s;
  }
  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style-type: none;
  }
  .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(#000, 0.6);
    color: $white;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
    a {
      text-decoration: dotted underline;
    }
    ul li {
      display: inline-block;
    }
    .author:before {
      font-family: FontAwesome;
      margin-right: 10px;
      //content: "\foo7";
    }

    .date:before {
      font-family: FontAwesome;
      margin-right: 10px;
      //content: "\f133";
    }

    .tags {
      ul:before {
        font-family: FontAwesome;
        //content: "\f02b";
        margin-right: 10px;
      }
      li {
        margin-right: 2px;
        &:first-child {
          margin-left: -4px;
        }
      }
    }
  }
  .description {
    padding: 1rem;
    background: $white;
    position: relative;
    z-index: 1;
    h1,
    h2 {
      font-family: inherit;
    }
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
    }
    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $color_grey_dark;
      margin-top: 5px;
    }
    .read-more {
      text-align: center;
      a {
        color: $color_prime;
        display: inline-block;
        position: relative;
      }
    }
    p {
      position: relative;
      margin: 1rem 0 0;
      &:first-of-type {
        margin-top: 1.25rem;
        &:before {
          content: "";
          position: absolute;
          height: 5px;
          background: $color_prime;
          width: 35px;
          top: -0.75rem;
          border-radius: 3px;
        }
      }
    }
  }
  &:hover {
    .details {
      left: 0;
    }
  }

  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 700px;
    .meta {
      flex-basis: 40%;
      height: auto;
    }
    .description {
      flex-basis: 60%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: $white;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
  }
}

// Add Review Page
textarea {
  width: 50%;
  height: 30vh;
  display: block;
  padding: 1em;
  border: 2px solid #bbb;
  font-family: inherit;
  font-weight: 300;
}

.star-rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 20%;
}

.star {
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  background-color: $gray;
  -webkit-clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
  clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
}
.star.selected {
  background-color: yellow;
}

// Review Page

.ReviewContent {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
  margin-bottom: 1.6%;
  background-color: $white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  a {
    color: inherit;
    &:hover {
      color: $color_prime;
    }
  }
  &:hover {
    .photo {
      transform: scale(1.3) rotate(3deg);
    }
  }
  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: 0.2s;
  }
  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style-type: none;
  }
  .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(#000, 0.6);
    color: $white;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
    a {
      text-decoration: dotted underline;
    }
    ul li {
      display: inline-block;
    }
    .author:before {
      font-family: FontAwesome;
      margin-right: 10px;
      //content: "\foo7";
    }

    .date:before {
      font-family: FontAwesome;
      margin-right: 10px;
      //content: "\f133";
    }

    .tags {
      ul:before {
        font-family: FontAwesome;
        //content: "\f02b";
        margin-right: 10px;
      }
      li {
        margin-right: 2px;
        &:first-child {
          margin-left: -4px;
        }
      }
    }
  }
  .description {
    padding: 1rem;
    background: $white;
    position: relative;
    z-index: 1;
    h1,
    h2 {
      font-family: inherit;
    }
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
    }
    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $color_grey_dark;
      margin-top: 5px;
    }
    .content {
      position: relative;
      margin: 1rem 0 0;
      &:first-of-type {
        margin-top: 1.25rem;
        &:before {
          content: "";
          position: absolute;
          height: 5px;
          background: $color_prime;
          width: 35px;
          top: -0.75rem;
          border-radius: 3px;
        }
      }
    }
    .ReviewContent--meta-bottom {
      padding: 0.5em;
      background-color: $info-color;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        display: inline-block;
        margin: 1em;
      }
      button {
        display: inline-block;
        width: auto;
        &:not(:last-child) {
          margin-right: 5px;
          margin-bottom: 0;
        }
      }
    }
  }
  &:hover {
    .details {
      left: 0;
    }
  }

  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 700px;
    .meta {
      flex-basis: 40%;
      height: auto;
    }
    .description {
      flex-basis: 60%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: $white;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
  }
}

// .ReviewContent {
//   border: 1px solid $review;
//   margin-bottom: 1em;
// }

// .ReviewContent__inner {
//   padding: 1em;
//   h3 {
//     margin-top: 0;
//   }
// }

// .ReviewContent--meta {
//   padding: 0.5em;
//   background-color: $info-color;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   p {
//     display: inline-block;
//     margin: 1em;
//   }
//   button {
//     display: inline-block;
//     width: auto;
//     &:not(:last-child) {
//       margin-right: 5px;
//       margin-bottom: 0;
//     }
//   }
// }

.rating {
  display: flex;
}

// Comments
.Comments {
  width: 55%;
  margin: 0 auto;
}

// Comment

.Comment {
  margin: 1em 0;
}

.Comment--author {
  color: $comment-highlight-color;
  font-weight: bold;
  &:after {
    content: ": ";
  }
}

.Comment--timestamp {
  color: darken($info-color, 40);
  &:before {
    content: " ";
  }
}

.button-star {
  background-color: yellow;
}

.button-delete {
  background-color: $danger-color;
  border: 0;
}

// AddComment

.AddComment {
  font-family: inherit;
  input[type="text"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid $input-color;
    font-size: 1.5em;
    padding: 0.5em;
  }
  input[type="submit"] {
    display: block;
    width: 50%;
    font-size: 1.1em;
    padding: 0.5em;
  }
}
